<p id="notice"><%= notice %></p>

<h1>Results:</h1>
<table>
  <thead>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Year</th>
    <th>Tags</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @search.each do |s| %>
      <tr>
        <td><%= s.author %></td>
        <td><%= s.title %></td>
        <td><%= s.year %></td>
        <td><% if !(s.tags.empty?) %>
            <%= s.tags %>

        <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<pre>
<% @search.each do |s| %>
<%= s.generateBibtex %>
<% end %>
</pre>

<br>

<%= link_to 'New Article', new_article_path %>


