<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @article.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @article.year %>
</p>
<pre>
    @article{<%=@article.key%>,<br/>
        author="<%=@article.author%>",<br/>
        title="<%=@article.title%>",<br/>
        journal="<%=@article.journal%>",<br/>
        year="<%=@article.year%>",<br/>
      }
</pre>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
