<%= form_for(@inproceeding) do |f| %>
    <% if @inproceeding.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@inproceeding.errors.count, "error") %> prohibited this inproceeding from being saved:</h2>

          <ul>
            <% @inproceeding.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :year %><br>
      <%= f.text_field :year %>
    </div>
    <div class="field">
      <%= f.label :booktitle %><br>
      <%= f.text_field :booktitle %>
    </div>
    <div class="field">
      <%= f.label :tags %><br>
      <%= f.text_field :tags %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
