<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @inproceeding.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @inproceeding.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @inproceeding.year %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @inproceeding.booktitle %>
</p>

<% if !(@inproceeding.tags.nil?) && !(@inproceeding.tags.empty?)  %>
    <p>
      <strong>Tags:</strong>
      <%= @inproceeding.tags %>
    </p>
<% end %>
<pre>
  @inproceedings{<%= @inproceeding.key %>,
      author = {<%= @inproceeding.author %>},
      title = {<%= @inproceeding.title %>},
      booktitle = {<%= @inproceeding.booktitle %>},
      year = {<%= @inproceeding.year %>},
    }
</pre>

<%= link_to 'Edit', edit_inproceeding_path(@inproceeding) %> |
<%= link_to 'Back', inproceedings_path %>
