<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<% if !(@book.tags.nil?) && !(@book.tags.empty?) %>
    <p>
      <strong>Tags:</strong>
      <%= @book.tags %>
    </p>
<% end %>

<pre>
  @book{<%= @book.key %>,
      author = {<%= @book.author %>},
      title = {<%= @book.title %>},
      publisher = {<%= @book.publisher %>},
      year = {<%= @book.year %>},
    }
</pre>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
