<!DOCTYPE html>
<html>
<head>
  <title>ReferenceLibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav">
  <li><%= link_to 'articles', articles_path %></li>
  <li><%= link_to 'books', books_path %></li>
  <li><%= link_to 'inproceedings', inproceedings_path %></li>
  <li><%= link_to 'show all', showall_path %></li>
</ul>
<div>
  <%= form_tag('/search')  do %>
      <%= text_field_tag :search, params[:search]%>
      <%= submit_tag "Etsi", :name => nil  %>
  <% end %>
</div>

<%= yield %>

<div>
  <%= link_to "download bibtex", "/raw"%>
</div>


</body>
</html>
